.bookPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.each{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px;
    border-bottom: solid black 1px;
    margin: 0 15px;
}
.smallImage{
    height: 100%;
    width: auto;
}
.smlImgContainer{
    height: inherit;
}